* {
	margin: 0;
	padding: 0;
	border: 0;
  font-weight: 300;
  font-size: 14px;
	color: #34495e;
  font-family: "Open Sans", sans-serif;
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #f4f4f4;
  text-decoration: none;
  outline: white;
  height: 25px;
}
#wrapper{
    width:100%;
    height: 100%;
}
#wrapper .mid{
    margin: auto;
    display: table;
    height: 100%;
}
#wrapper .mid .cell{
    display: table-cell;
    vertical-align: middle;
}

#wrapper .mid .cell .grid-controller .box{
    width: 100%;
    overflow: auto;
    max-height: 400px;
    max-width: 900px;
    height: 100%;
}
#wrapper .mid .cell .grid-controller{
    border:1px solid #CCC;
    max-height: 500px;
    width:100% !important;
    border-radius: 5px;
    position: relative;
}
#wrapper .mid .cell .grid-controller .box-head{
	padding-top: 15px;
	padding-bottom: 35px;
	padding-left: 5px;
	background-color: #fff;
	max-width: 900px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9;
	box-shadow: inset 0px -3px 10px -5px grey;
	border-radius: 5px 5px 0px 0px;
}
#wrapper .mid .cell .grid-controller .box-head .box-head-left{
    float: left;
    margin-left: 10px;
    color: darkslategrey;
		font-size: 20px;
		opacity: 0.8;
}
#wrapper .mid .cell .grid-controller .box-head .box-head-right{
 float: right;
    margin-right: 10px;
}
.fTable{
    display: table;
    width:100%;
}
.grid-controller .popup{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9;
  background: rgba(0,0,0,0.4);
  display: none;
}
.grid-controller .popup .popup-table{
  display: table;
  margin: auto;
  height: 100%;
}
.grid-controller .popup .popup-cell{
  display: table-cell;
  vertical-align: middle;
}
.grid-controller .popup .popup-cell .cell-widget{
  background-color: #fff;
  border-radius: 5px;
  min-width: 400px;
}
.grid-controller .popup .popup-cell .cell-widget .widget-header{
  padding: 15px;
  vertical-align: middle;
  box-shadow: inset 0px -3px 10px -5px grey;
  border-bottom: 1px solid #eee;
}
.grid-controller .popup .popup-cell .cell-widget .widget-header span{
  font-size: 20px;
}
.grid-controller .popup .popup-cell .cell-widget .widget-body{
  overflow: auto;
  padding: 10px;
  max-height: 300px;
  max-width: 400px;
}
.grid-controller .popup .popup-cell .cell-widget .widget-footer{
    padding: 15px;
    border-top: 1px solid #ccc;
    text-align: right;
    box-shadow: inset 0px -3px 10px -5px grey;
}
.grid-controller .popup .fTable{
  background-color:#fff;
}
.grid-controller .popup .fTable .fRow .fCell{
  border:none;
}
.ftable .fRow{
    display: table-row;
}
.ftable .fRow.head .fCell{
	background-color: #f4f4f4;
	cursor: pointer;
  position: relative;
}
.ftable .fRow.head .fCell span{
    font-weight: 600 !important;
}
.chevron{
    display:inline-block;
    font-size: 17px;
    position: absolute;
    color: grey;
    right: 0;
    margin-right: 5px;
}
.ftable .fRow .fCell{
	display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  line-height: 30px;
}
.btn:first-child{
    margin-right: 5px;
}
.btn{
    border-radius: 10px;
    color: grey;
    padding: 7px !important;
    cursor: pointer;
		text-decoration: underline;
}

.head-name{
	    font-size: 20px;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-area{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99;
}

.loading-area .loading-mid{
    display: table;
    margin: auto;
    width: 100%;
    height: 100%;
}

.loading-area .loading-mid .loading-cell{
    display: table-cell;
    vertical-align: middle;
}
